<table class="students-table">
  <tr>
    <th>Ім'я</th>
    <th>Дата народження</th>
    <th>Дії</th>
  </tr>
  <tr *ngFor="let student of students">
    <td>{{ student.name }}</td>
    <td>{{ student.birthDate }}</td>
    <td>
      <button mat-icon-button color="primary" (click)="onEdit(student)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(student)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>