<h2 mat-dialog-title>{{ data.action === 'edit' ? 'Edit Student' : (data.action === 'add' ? 'Add Student' : 'Delete Student') }}</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.student.name" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.student.dob" name="dob" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <mat-select [(ngModel)]="data.student.city" name="city" required>
        <mat-option *ngFor="let city of cities" [value]="city">{{ city }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button *ngIf="data.action !== 'delete'" (click)="onCancel()">Cancel</button>
  <button mat-button *ngIf="data.action !== 'delete'" (click)="onSave()" [mat-dialog-close]="data.student">{{ data.action === 'edit' ? 'Save' : 'Add' }}</button>
</mat-dialog-actions>
