<section class="students-list">
    <h2 class="section-title">Список учнів</h2>

    <table class="students-table">
        <tr>
            <th>Ім'я</th>
            <th>Дата народження</th>
        </tr>
        <tr *ngFor="let student of students">
            <td>{{ student.name }}</td>
            <td>{{ student.birthDate }}</td>
          </tr>
    </table>
    <h2 class="section-title">Нові учні</h2>
    <table class="students-table">
        <tr>
            <th>Ім'я</th>
            <th>Дата народження</th>
        </tr>
        <tr *ngFor="let student of studentsData" (click)="onSelectStudent(student)">
            <td>{{ student.name }}</td>
            <td>{{ student.birthDate }}</td>
          </tr>
    </table>
</section>

<section class="add-student-form">
    <h2 class="section-title">Додати учня</h2>

    <form name="form" (ngSubmit)="addStudent()" class="student-form">
        <label for="name">Ім'я:</label>
        <input type="text" id="name" name="dddd" [(ngModel)]="newStudent.name" required>

        <label for="birthDate">Дата народження:</label>
        <input type="date" id="birthDate" name="ffff" [(ngModel)]="newStudent.birthDate" required>

        <button name="wwww" type="submit">Додати</button>
    </form>
</section>